#content{
	color:white;
	
	text-align: center;
	-o-text-align: center;
	-webkit-text-align: center;
	-moz-text-align: center;
	padding-top:10%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

@media only screen and (max-width: 340px) {
  #content h1{
    font-size: 40px;
  }
}

html{
	height:100%;
}
hr{
	width:400px;
	border-top:1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2)
}
body{
	height:100%;
background: url(https://images.unsplash.com/photo-1480074568708-e7b720bb3f09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80) no-repeat center center fixed;
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
/*background-size: 100%;*/
/*background-position: left;*/
/*font-family: Lato;*/

    /*-webkit-background-size: 100% 100%;               */
    /*-moz-background-size: 100% 100%;							*/
    /*-o-background-size: 100% 100%;					*/
/*background-repeat: no-repeat;*/
/*    width:100%; */
    
}/*.container{
	text-align: center;
}*/

h1{
	font-weight: 700;
	font-size:5em;
}
/*html{height:100%;width:100%;}*/